<div class="container">
  <h2 class="text-center text-white">Funkstermonster's owned Steam Games</h2>
  <div class="row">
    <div class="col-xl-3" *ngFor="let game of games">
      <div class="card mb-3 mt-3" style="width: 18rem;" >
        <img [src]='"https://steamcdn-a.akamaihd.net/steam/apps/" + game.appid + "/header.jpg" ' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ game.name }}</h5>
          <p class="card-text">Total playtime: {{ game.playtime_forever / 60 | number: "1.0-1" }} hours </p>
        </div>
      </div>
    </div>
  </div>
</div>
